/Isometric/IsometricContent/obj/x86/Debug/*.cache
/Isometric/Isometric/obj/x86/Debug/*.cache
/Isometric/Isometric/*.cachefile
/Isometric/Isometric/bin/x86/Debug/*.exe
/Isometric/Isometric/obj/x86/Debug/*.exe
/Isometric/Isometric/bin/x86/Debug/*.pdb
/Isometric/Isometric/obj/x86/Debug/*.pdb
/Isometric/Isometric/Game.ico
/*.sln
/*.suo
/Isometric/Isometric/obj/x86/Debug/cachefile-{B8F0B762-9AC2-45B1-9207-56727A913EC0}-targetpath.txt
/Isometric/Isometric/obj/x86/Debug/Isometric.csproj.FileListAbsolute.txt
/Isometric/Isometric/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/Isometric/IsometricContent/obj/x86/Debug/IsometricContent.contentproj.FileListAbsolute.txt
/Isometric/Isometric/Isometric.csproj.user
/Isometric/IsometricContent/obj/x86/Debug/ContentPipeline.xml
/Isometric/Isometric/bin/x86/Debug/Content/tileSet.xnb
/Isometric/Isometric/GameThumbnail.png
/Isometric/Isometric/bin/x86/Debug/Content/*.xnb
/Isometric/Isometric/bin/x86/Release/Content/*.xnb
/Isometric/Isometric/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Isometric/IsometricContent/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Isometric/IsometricContent/obj/x86/Release/IsometricContent.contentprojResolveAssemblyReference.cache
/Isometric/Isometric/bin/x86/Release/Isometric.pdb
/Isometric/Isometric/obj/x86/Release/Isometric.pdb
/Isometric/Isometric/obj/x86/Release/cachefile-{B8F0B762-9AC2-45B1-9207-56727A913EC0}-targetpath.txt
/Isometric/Isometric/obj/x86/Release/Isometric.csproj.FileListAbsolute.txt
/Isometric/Isometric/obj/x86/Release/Microsoft.Xna.Framework.RuntimeProfile.txt
/Isometric/IsometricContent/obj/x86/Release/IsometricContent.contentproj.FileListAbsolute.txt
/Isometric/IsometricContent/obj/x86/Release/ContentPipeline.xml
/Isometric/Isometric/bin/x86/Release/Isometric.exe
/Isometric/Isometric/obj/x86/Release/Isometric.exe
/Isometric/IsometricContent/Thumbs.db
